{% extends 'shop_app/index.html'%}

{% block title %}Cart{% endblock %}

{% block name %}
<div>
	<h2><center>Cart</center></h2><hr>
</div>
{% endblock %}


{% block content %}

{% for cart in cart_list %}
    <div>
        <ul>
            Name: {{cart.product.name}}<br>
            Price: {{cart.product.price}}<br>
            Count: {{cart.quantity_product}}<br>
            State: {{cart.state_product}}<br><hr>
        </ul>
    </div>
{% endfor %}

<div align="center">
    ALL PRICE: {{sum|floatformat:2}}<br><br>
    <button><a href="http://127.0.0.1:8000/garbage/buy_all/">Buy all</a></button><hr>
</div>

{% endblock %}

{% block navigation %}
<div align="center">
    <ul>
        {% for i in range( paginator_count) %}
            <li><a href="/garbage/{i}">{i}</a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}