<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="garbage_style.css" rel="stylesheet">
    <a href="/"> <= </a>
</head>
<body>
<body bgcolor="#f0ffff"></body>
<div>
	<h1><center>Cart</center></h1><hr>
</div>
{% block content %}
{% for cart in cart_list %}
    <div>
        Name: {{cart.product.name}}<br>
        Price: {{cart.product.price}}<br>
        Count: {{cart.quantity_product}}<br>
        State: {{cart.state_product}}<br><hr>
    </div>
{% endfor %}
    <button><a href="http://127.0.0.1:8000/garbage/buy_all/">Buy all</a></button><hr>
"ALL PRICE" : {{sum}}
{% endblock %}
</body>
</html>