<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <link href="index_style.css" rel="stylesheet">
</head>
<body>
<body bgcolor="#f0ffff"></body>
<div>
	<h1><center>Shop List</center></h1><hr>
</div>
<div>
	{% block content %}
	<ul>
		{% for shop_items in all_shop_list %}
		<li><h2>Name: <a href="items_details/{{shop_items.id}}"> {{ shop_items.name }} </a></h2></li>
		<h4>Kind: {{shop_items.kind}}</h4>
		<h4>Price: {{shop_items.price}}</h4>
		<div><button>Buy</button></div>


		{% endfor %}
	</ul>

	{% endblock %}
</div>
</body>
</html>