{% extends 'shop_app/index.html'%}

{% block title %}Items Details{% endblock %}

{% block name %}
<div>
	<h2><center>Item Details</center></h2><hr>
</div>
{% endblock %}

{% block content %}
<ul>
    <h4>Name: {{ details_output.name }}<br></h4>
    <h4>Kind: {{ details_output.kind }}<br></h4>
    <h4>Price: {{ details_output.price }}<br></h4>
    <h4>Manufacturer: {{ details_output.manufacturer }}<br></h4>
    <h4> Date Receipt: {{ details_output.date_receipt }}<br></h4>
    <h4>Type Form: {{ details_output.type_form }}<br></h4><br><hr>
    <div align="center"><button><a href="http://127.0.0.1:8000/garbage/{{details_output.id}}">Buy</a></button></div>
</ul>
{% endblock %}

{% block navigation %}{% endblock %}
