<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info items</title>
    <link href="items_details_style.css" rel="stylesheet">
</head>
<body>
<body bgcolor="#f0ffff"></body>
<div>
	<h1><center>Info items</center></h1><hr>
</div>

{% block content %}
    <ul>
        {% for shop_items in all_shop_list %}
            {% if shop_items.id == 1 %}
                {{shop_items.name}}




    </ul>
            {% endif %}
        {% endfor %}
{% endblock %}

</body>
</html>