{% extends 'shop_app/index.html'%}

{% block title %}Cart{% endblock %}

{% block name %}
<div>
	<h2><center>Login</center></h2><hr>
</div>
{% endblock %}

{% block content %}
<ul>
	<form action="/login/"  method='post' class='reg-form' id="">{% csrf_token %}
		{{form}}
		<div class="submit" align="center">
			<p><button type="submit">Login</button></p>
		</div>
	</form>
</ul>
<ul><p>No account?&nbsp;&nbsp;<a href="http://127.0.0.1:8000/reg/">Registration</a><span class="fontawesome-arrow-right"></span></p></ul>
{% endblock %}

{% block navigation %}{% endblock %}