<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="login_style.css" rel="stylesheet">
</head>
<body>
<body bgcolor="#f0ffff"></body>
<div>
	<h1><center>Login</center></h1><hr>
</div>
	<form action="/login/"  method='post' class='reg-form' id="">{% csrf_token %}
		{{form}}
		<div class="submit">
			<p><button type="submit">Login</button></p>
		</div>
	</form>
<p>No account?&nbsp;&nbsp;<a href="http://127.0.0.1:8000/reg/">Registration</a><span class="fontawesome-arrow-right"></span></p>

</body>
</html>