<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="reg_style.css" rel="stylesheet">
</head>
<body>
<body bgcolor="#f0ffff"></body>
<div>
	<h1><center>Registration</center></h1><hr>
</div>
	<form action="/reg/" method='post' class='reg-form' >{% csrf_token %}
		{{form}}
		<div class="submit">
			<p><button type="submit">Registration</button></p>
		</div>
	</form>
<p>Have account?&nbsp;&nbsp;<a href="http://127.0.0.1:8000/login/">Login</a><span class="fontawesome-arrow-right"></span></p>
</body>
</html>