{% extends 'shop_app/index.html'%}

{% block title %}Cart{% endblock %}

{% block name %}
<div>
	<h2><center>Registration</center></h2><hr>
</div>
{% endblock %}

{% block content %}
<ul>
	<form action="/reg/" method='post' class='reg-form' >{% csrf_token %}
		{{form}}
		<div class="submit" align="center">
			<p><button type="submit">Registration</button></p>
		</div>
	</form>
</ul>
<ul><p>Have account?&nbsp;&nbsp;<a href="http://127.0.0.1:8000/login/">Login</a><span class="fontawesome-arrow-right"></span></p></ul>
{% endblock %}

{% block navigation %}{% endblock %}
