{% extends 'shop_app/index.html'%}

{% block title %}Shop{% endblock %}

{% block name %}
<div>
	<h2><center>Shop</center></h2><hr>
</div>
{% endblock %}

{% block content %}
<div>
	<ul>
		{% for shop_items in all_shop_list %}
		    <li><h2>Name: <a href="http://127.0.0.1:8000/items_details/{{shop_items.id}}"> {{ shop_items.name }} </a></h2></li>
		    <h4>Kind: {{shop_items.kind}}</h4>
		    <h4>Price: {{shop_items.price}}</h4>
		    {% if username %}
		        <div align="center"><button><a href="http://127.0.0.1:8000/items_details/{{shop_items.id}}">Buy</a></button></div><hr>
		    {% else %}
		        <div><button><a href="/login/">Sign In</a> </button></div>
		    {% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}

